h2{
  font-style: oblique;
  text-align: center;
}

h5{
  font-style: oblique;
  text-align: center;
}

IMAGES{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.center{
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%; 
 align-items: center;  
}

.delani
    {
      position:absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
    }
    .delanilogo
    {
      position:absolute;
      top: 25px;
      left: 25px;
      z-index: 2;
    }
    
   .workflow{
     position: absolute;
     align-items: center;
   }
   .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04aa94;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

    